/**
 * -----------------
 * 通用部分
 * -----------------
 */

html {
    color: #222;
    font-family: Georgia,serif,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;

    background-color: #fff;
    overflow-y: scroll;
    background-color: #f7f7f7;

}

::selection {background:#5bc0de; color:#fff; text-shadow: none;}
::-moz-selection {background:#ff5e99; color:#fff; text-shadow: none;}

body {
    margin: 0 auto;
    max-width: 66%;
}

p {
    /*text-indent: 2em;*/
}

blockquote {
    padding: 5px 40px;
    background-color: #fffee2;
    border-radius: 12px;
    font-size: 0.9em;
    color: #666;
}

a {
    color:#009999;
    font-weight: bold;
    font-size: 0.9em;
}

a:hover {
    color:#555555;
}

/*a:visited {*/
    /*color:#009999;*/
/*}*/

header h1 {
    padding:10px;
    color: #335734;
    border-bottom:1px solid #dcdcdc;
    /*box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);*/
}

header h1 a{
    color: #335734;
    text-decoration: none;
}

.subtitle {
    margin: 0 0 0 15px;
    font-size: 0.3em;
    position: relative;
    top:5px;
    color: #888888;
    left:10px;
}

.clear {
    clear: both;
}
footer {
    border-top: 1px solid #dcdcdc;
    position: relative;
    width: 100%;
    margin:15px 3px;
    text-align: center;
}


/**
 * -----------------
 * 首页专属
 * -----------------
 */

#main {
    min-height: 360px;
    padding-top: 10px;

}

.leftbox {
    width: 66%;
    box-sizing: border-box;
    padding: 4px;
    /*background-color: #e3d2d2;*/
    float: left;
}
.rightbox {
    display: inline-block;
    border: 1px solid #d6dbe1;
    border-radius: 6px;
    box-sizing: border-box;
    /*background-color: #aaffaa;*/
    width: 34%;
    padding: 3px 3px;
    font-size: 14px;
    min-width: 240px;
    max-width: 300px;

}

@-webkit-keyframes listshow {
    /*0% {color: green;}*/
    /*50% { color: yellow}*/
    /*100% {color: green}*/
    0% {opacity: 0; left:-10px; top:0px;}
    100% {opcity: 1; left:0px; top:0px;}
}
@-moz-keyframes transopacity {
    0% {opacity: 0; left:-10px; top:0px;}
    100% {opcity: 1; left:0px; top:0px;}
}
@-o-keyframes transopacity {
    0% {opacity: 0; left:-10px; top:0px;}
    100% {opcity: 1; left:0px; top:0px;}
}

#bulletin {
    background-color: burlywood;
    width: 80%;
    padding: 10px 20px 10px 0px;
    border-radius: 8px;
    text-indent: 2em;
}

#bulletin p:before {
    content:"“";
    font-size: 2.8em;
    color: #555;
    float: left;
    margin:15px auto;
}

#bulletin p:after {
    content: "”";
    color: #555;
    clear: both;
}

nav{
    margin: 10px 0 10px 0;
}

.ulbar {
    width: 100%;
    text-align: left;
    display: inline;
    padding: 3px;
}

.ulbar li {
    min-width: 40px;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: #0088cc;
    border-radius: 5px;
}

.ulbar li:hover {
    background-color: #888888;
}

.tag_1 {
    background-color: #009999;
}
.tag_2 {
    background-color: #5bc0de;
}
.tag_3 {
    background-color: #335734;
}
.tag_4 {
    background-color: #394057;
}

.ulbar li a{
    color: #ffffff;
}

#article_list li , #article_list div {
    padding-bottom: 10px;
    position: relative;
    -webkit-animation: listshow 1s;
    -moz-animation:  listshow 1s;
    -o-animation:  listshow 1s;
    /*-webkit-animation-iteration-count: infinite;*/
}

.pagimenu {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    background-color: #ff5e99;
    border-radius: 4px;
    padding: 6px 10px;
}

.myphoto {
    padding: 5px;
    text-align: center;
    line-height: 0.5em;
}

.myphoto img {
    padding: 10px 0;
    width:60%;
    height: auto;
}

.myintro {
    text-align: center;
    /*text-indent:2em;*/
}

.myintro p {
    color: #888888;
}

.wb {
    width:100%;
    padding: 10px 15%;
}

.wb span {
    display: inline-block;
    line-height: 2em;
    float: left;
}

.douban {
    width:100%;
    margin-top:10px;
    overflow: hidden;
}

.douban p {
    width: 100%;
    padding: 5px 15%;
}

.douban div {
    width: 230px;
    margin:0 auto;
}

/**
 * -----------------
 * 文章页专属
 * -----------------
 */

#article-content {
    min-height: 360px;
    padding-top: 10px;
    line-height: 1.8em;
    /*letter-spacing: 0.05em;*/
    font-size: 18px;
}

.article-name {
    text-align: center;

}

#article-content p {
    text-indent: 2em;
}

#article-content em {
    display: inline;
    font-style: normal;
    background-color: #888;
    color:white;
    /*font-size: 0.8em;*/
    text-align: left;
    padding: 3px 5px;
    border-radius: 5px;
}

.article-date {
    margin-top: 40px;
    text-align: right;
    color: #888;
    font-size: 16px;
}

.share {
    margin-top: 30px;
    border-top: 1px solid #888888;
    padding: 10px 0;
}

.share p {
    float: left;
}

