<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />
</head>
<body>

{% include header.html %}

<article id="main">
{{ content }}
</article>

<p>相关阅读：</p>
<ul>
{% for post in site.related_posts %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<a href="{{ site.baseurl }}">返回首页</a>


{% include footer.html %}

</body>
</html>