<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <title>{{ site.name }} - {{ site.desc }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.keyword }}"/>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/syntax.css"/>
    <script src="../data/talk.js"/>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

{% include header.html %}

<article id="main">
    {{ content }}
</article>


{% include footer.html %}

</body>
</html>
