<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />
</head>
<body>

{% include header.html %}

<article id="main">
<h2>
    {{ page.title }}
</h2>
{{ content }}
</article>

<p>分享到：</p>
<!-- 百度分享框 start -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- 百度分享框 end -->

<p>相关阅读：</p>
<ul>
{% for post in site.related_posts %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<!--<p>最热文章：</p>-->
<!--<ul  class="ds-top-threads" data-range="weekly" data-num-items="5"></ul>-->

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.baseurl }}{{ page.url }}"></div>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"logix"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说评论框 end -->

<a href="{{ site.baseurl }}">返回首页</a>


{% include footer.html %}

</body>
</html>